
body{
  background-color:#f3f3f3 ;
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
ul li{
  list-style: none;
}
.box {
  min-width: 300px;
  max-width: 640px;
}
/*顶部搜索*/
  .header-search{
    position: fixed;
    width: 100%;
    height: 30px;
    margin-top: 6px;
    left: 6%;
    z-index: 999;
    img{
    margin-right: 6px;
    }
    input{
      width: 70%;
      height: 30px;
      border-radius: 20px;
      border-style: none;
      font-size: 12px;
    }
    .login{
      width: 10%;
      margin-left: 6px;
    }
  }
  /*轮播图*/
.banner{
  width: 100%;
  overflow: hidden;
  position: relative;

  ul:first-child{
    width: 500%;
    li{
      width: 20%;
      float: left;
      height: 300px;
      background-color: #50ff97;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

